In [1]:
# Imports
import pandas as pd
import plotly.graph_objects as go

# from LCA import LCA
import helpers as h

from config.config import *

import config.init
config.init.run()

2023-06-05 16:26:48.374
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\steff\anaconda3\lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

In [2]:
#read-in input data
df_vehicles      = pd.read_excel("data/vehicle_types.xlsx", index_col="name")
df_areas         = pd.read_excel("data/areas.xlsx", index_col="area")
df_income_groups = pd.read_excel("data/income_groups.xlsx", index_col="household income group")

In [3]:
#run LCA for all areas, years, income_groups, and veh_names_pairs, and save the derived cumulative differences in csv files
diff_cum_df = pd.DataFrame()
custom_discount_rate = None #only run for default discount rates here, since for any custom discount rate it runs again anyways
for area in areas:
    print(area)
    for year in years:
        print("\t%d"%year)
        for income_group in income_groups:
            print("\t\t%s"%income_group)
            h.run_LCA_for_all_veh_types(df_vehicles, df_areas, df_income_groups, area, year, income_group, custom_discount_rate)
            """
            for veh_type in veh_names_pairs_dict:
    #             print("\t\t\t%s"%str(veh_names))
                veh_names = veh_names_pairs_dict[veh_type]

                #initialize LCA class object and run/read results
                lca = LCA(df_vehicles, df_areas, df_income_groups, veh_names, area, year, income_group)
                lca.retrieve_results()

                #derive differences
                diff = lca.get_results(veh_names[1]).select_dtypes(include=numerics) - lca.get_results(veh_names[0]).select_dtypes(include=numerics)
                diff_cum = diff.loc["post-use", lca.total_columns]

                if veh_names[0].replace("ICEV", "BEV") == veh_names[1]:
                    fn = veh_names[0].replace(" ICEV", "")
                elif veh_names[0]=="Toyota Corolla ICEV" and veh_names[1]=="Chevrolet Bolt BEV":
                    fn = "affordable sedan"
                diff_cum_df[fn] = diff_cum
            diff_cum_df.index.name = "quantity"

            #save differences in csv file
            diff_cum_df_fn = "diff_cum_all_area={0:s}_year={1:d}_income_group={2:s}".format(area,year,income_group)
            diff_cum_df.to_csv("results/"+"cumulative differences/"+diff_cum_df_fn+".csv")
            #"""

U.S.
	2021
		less than $25k
		$25-50k
		$50-75k
		$75-100k
		$100-200k
		more than $200k
	2022
		less than $25k
		$25-50k
		$50-75k
		$75-100k
		$100-200k
		more than $200k
WA
	2021
		less than $25k
		$25-50k
		$50-75k
		$75-100k
		$100-200k
		more than $200k
	2022
		less than $25k
		$25-50k
		$50-75k
		$75-100k
		$100-200k
		more than $200k
CA
	2021
		less than $25k
		$25-50k
		$50-75k
		$75-100k
		$100-200k
		more than $200k
	2022
		less than $25k
		$25-50k
		$50-75k
		$75-100k
		$100-200k
		more than $200k
WV
	2021
		less than $25k
		$25-50k
		$50-75k
		$75-100k
		$100-200k
		more than $200k
	2022
		less than $25k
		$25-50k
		$50-75k
		$75-100k
		$100-200k
		more than $200k

In [8]:
diff_cum_df

,Typical,Typical Car,Sedan,Car SUV,Typical Truck,Truck SUV,Minivan/Van,Pickup,affordable sedan
quantity,,,,,,,,,
total mileage [mi],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
total purchase costs [$],13268.00,14252.50,33545.50,8063.50,6385.67,-13920.00,9894.00,7793.00,7300.00
total incentives costs [$],-7500.00,-7500.00,-7500.00,-7500.00,-7500.00,-7500.00,-7500.00,-7500.00,-7500.00
total operations costs [$],-17440.74,-12855.91,-13097.54,-12902.42,-20739.34,-19806.01,-14546.12,-24805.52,-12362.15
total insurance costs [$],1370.88,1261.44,1261.44,1261.44,1478.40,1478.40,1478.40,1478.40,1261.44
total maintenance costs [$],-6643.63,-6084.34,-6084.34,-6084.34,-7199.19,-7199.19,-7199.19,-7199.19,-6084.34
total costs [$],-16945.49,-10926.31,8125.06,-17161.82,-27574.47,-46946.80,-17872.91,-30233.31,-17385.06
total present value purchase costs [$],13268.00,14252.50,33545.50,8063.50,6385.67,-13920.00,9894.00,7793.00,7300.00
total present value incentives costs [$],-7317.07,-7317.07,-7317.07,-7317.07,-7317.07,-7317.07,-7317.07,-7317.07,-7317.07
total present value operations costs [$],-14518.94,-10844.74,-11048.57,-10883.98,-17042.42,-16275.45,-11953.17,-20383.77,-10428.23
total present value insurance costs [$],1141.22,1064.10,1064.10,1064.10,1214.87,1214.87,1214.87,1214.87,1064.10
total present value maintenance costs [$],-5530.64,-5132.52,-5132.52,-5132.52,-5915.89,-5915.89,-5915.89,-5915.89,-5132.52
total present value costs [$],-12957.43,-7977.73,11111.44,-14205.97,-22674.85,-42213.55,-14077.28,-24608.87,-14513.72
total emissions [tCO$_2$-eq.],3.63,4.97,1.59,7.93,6.72,4.41,33.73,1.26,3.26

In [3]:
#plot and save waterfall plots for all areas, years, income_groups, and veh_names_pairs
areas = ["U.S."]
years = [2022]
custom_discount_rates = [None, 0.02, 0.15] #None == default
for area in areas:
    print(area)
    for year in years:
        print("\t%d"%year)
        for income_group in income_groups:
            print("\t\t%s"%income_group)
            for custom_discount_rate in custom_discount_rates:
                for veh_type in veh_names_pairs_dict:
        #             print("\t\t\t%s"%str(veh_type))
                    for show_PV in [0,1]:
        #                 print("\t\t\t\t%d"%show_PV)
                        fig_one_either = h.plot_waterfall_one_either(veh_type, area, year, income_group, custom_discount_rate, show_PV, save_figure=True)
        #                 fig_one_either.show()
                    fig_one_both = h.plot_waterfall_one_both(veh_type, area, year, income_group, custom_discount_rate, save_figure=True)
        #             fig_one_both.show()
                for show_PV in [0,1]:
                    fig_all_either = h.plot_waterfall_all_either(veh_names_pairs_dict.keys(), area, year, income_group, custom_discount_rate, show_PV, save_figure=True)
        #             fig_all_either.show()

U.S.
	2022
		less than $25k
		$25-50k
		$50-75k
		$75-100k
		$100-200k
		more than $200k

2023-06-05 16:14:00.268 Internal Python error in the inspect module.
Below is the traceback from this internal error.

2023-06-05 16:14:00.671
Unfortunately, your original traceback can not be constructed.

Traceback (most recent call last):
  File "C:\Users\steff\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3441, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\steff\AppData\Local\Temp/ipykernel_25940/1667472479.py", line 18, in <module>
    fig_one_both = h.plot_waterfall_one_both(veh_type, area, year, income_group, custom_discount_rate, save_figure=True)
  File "C:\Users\steff\Documents\Studium - UW\PUBPOL 594 A - Economic Approaches To Environmental Management\Project\tool\helpers.py", line 159, in plot_waterfall_one_both
    diff_cum_df = run_LCA_for_all_veh_types(df_vehicles, df_areas, df_income_groups, area, year, income_group, custom_discount_rate)
  File "C:\Users\steff\Documents\Studium - UW\PUBPOL 594 A - Economic Approaches To Environmental Management\Project\tool\helpers.py", line 33, in run_LCA_for_all_veh_types
    lca.retrieve_results()
  File "C:\Users\steff\Documents\Studium - UW\PUBPOL 594 A - Economic Approaches To Environmental Management\Project\tool\LCA.py", line 112, in retrieve_results
    self.run(veh_name)
  File "C:\Users\steff\Documents\Studium - UW\PUBPOL 594 A - Economic Approaches To Environmental Management\Project\tool\LCA.py", line 191, in run
    results_df = results_df.convert_dtypes()
  File "C:\Users\steff\anaconda3\lib\site-packages\pandas\core\generic.py", line 6177, in convert_dtypes
    results = [
  File "C:\Users\steff\anaconda3\lib\site-packages\pandas\core\generic.py", line 6178, in <listcomp>
    col._convert_dtypes(
  File "C:\Users\steff\anaconda3\lib\site-packages\pandas\core\series.py", line 5147, in _convert_dtypes
    inferred_dtype = convert_dtypes(
  File "C:\Users\steff\anaconda3\lib\site-packages\pandas\core\dtypes\cast.py", line 1428, in convert_dtypes
    target_int_dtype = pandas_dtype("Int64")
  File "C:\Users\steff\anaconda3\lib\site-packages\pandas\core\dtypes\common.py", line 1767, in pandas_dtype
    result = registry.find(dtype)
  File "C:\Users\steff\anaconda3\lib\site-packages\pandas\core\dtypes\base.py", line 446, in find
    return dtype_type.construct_from_string(dtype)
  File "C:\Users\steff\anaconda3\lib\site-packages\pandas\core\dtypes\dtypes.py", line 762, in construct_from_string
    if match:
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\steff\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2061, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'KeyboardInterrupt' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\steff\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "C:\Users\steff\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "C:\Users\steff\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "C:\Users\steff\anaconda3\lib\inspect.py", line 1515, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "C:\Users\steff\anaconda3\lib\inspect.py", line 1473, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "C:\Users\steff\anaconda3\lib\inspect.py", line 708, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "C:\Users\steff\anaconda3\lib\inspect.py", line 751, in getmodule
    f = getabsfile(module)
  File "C:\Users\steff\anaconda3\lib\inspect.py", line 720, in getabsfile
    _filename = getsourcefile(object) or getfile(object)
  File "C:\Users\steff\anaconda3\lib\inspect.py", line 705, in getsourcefile
    if os.path.exists(filename):
  File "C:\Users\steff\anaconda3\lib\genericpath.py", line 19, in exists
    os.stat(path)
KeyboardInterrupt

TypeError: object of type 'NoneType' has no len()